<div class="container">
    <div class="left">
        <div class="add-marker">
            <div class="input-wrapper">
                <input type="text" placeholder="Широта" [(ngModel)]="longitude">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Долгота" [(ngModel)]="latitude">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Описание метки" [(ngModel)]="baloon">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Цвет метки" [(ngModel)]="color">
                <input type="color" placeholder="Цвет метки" [(ngModel)]="color">
            </div>
            <button (click)="addNewMarker()">Добавить</button>
        </div>

        <div class="allmarks">
            
            <ng-container *ngFor="let m of placeMarks">
                <div class="marker">
                    <button (click)="setCenter(m.lng, m.lat)">Центр</button>
                    <div class="marker__text">
                            {{m.baloon}}
                    </div>
                    <button (click)="findMarkerById(m.id)">Удалить</button>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="right">
        <div id="map" style="width: 450px; height: 350px; position:relative"></div>
    </div>

</div>